<html>
	<head>

	</head>

	<body>


	<table style="width:55%" border=1 frame=hsides rules="rows-columns">
	  <tr>
	    <th align="left">Library</th>
	    <th align="left">Book</th> 
	    <th align="left">User</th>
	  </tr>

	  {%for book in books.all%}

	  <tr>
	    <td>{%for lib in book.libraries.all%} 

	    		
	    		- {{ lib.name }}

    		{%endfor%}
    		{%if not book.libraries.all%}
    		<i>- This book isn't in a library</i>
    		{%endif%}


	    </td>
	    <td>{{book.title}}</td>
	    <td>{{book.author}}</td>
	  </tr>

	  {%endfor%}

	</table>
	
	<p>User Count: {{users.count}}</p>
	<p>Book Count: {{books.count}}</p>
	<p>Library Count: {{libraries.count}}</p>

	</body>

